/*The CSS for the photos part of my webpage*/

/*Affect the div container whihc houses all the other 
    individual divs for the images adn captions*/
.main_body_Photos {
    margin-top: 45px;
    text-align: center;
}
/*Affects the div container for each individual image with its caption*/
.Photos_caption_container {
    display: inline-block;
    vertical-align: text-top;
    padding: 25px;
}
/*Affects image within the each container*/
.Photos_caption_container img{
     width: 500px;
}
/*Affects image within the each container*/
.Photos_caption_container p{
     padding-top: 3px;
}
