/*CSS for the the drawings page*/

/*Affects the big, overall main body for the drawings*/
.main_body_drawings {
    text-align: center;
    margin-top: 45px;
}
/*Affects all the individual drawings container  which include the image and teh caption*/
.Drawings_container {
    margin-bottom: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
}
/*Affects the p tags that are within the drawings container*/
.Drawings_container p {
    font-size: 12px;
}
/*Affects specifically the image tag with Fire_tiger_robot_image*/
#Fire_tiger_robot_image {
    width: 550px;
    margin-right: 40px;
}
/*Affects specifically the image tag with Female_tiger_robot_image*/
#Female_tiger_robot_image {
    width: 550px;
}
/*Affects specifically the image tag with Blaster_tiger_robot_image*/
#Blaster_tiger_robot_image {
    width: 550px;
    margin-right: 40px;
}
/*Affects specifically the image tag with Ice_tiger_robot_image*/
#Ice_tiger_robot_image {
    width: 550px;
}
/*Affects specifically the image tag with Face_image*/
#Face_image {
    width: 550px;
    margin-right: 40px;
}
/*Affects specifically the image tag with Naruto_image*/
#Naruto_image {
    width: 550px;
}